$white: #FFFFFF;
$black: #000000;
$purple: #7626FF;
$light-purple: #867FF6;
$dark-gray: #585859;
$gray: #C2C2C2;
$gray-2: #EAEAEC;
$gray-3: #707070;
$light-gray: #CAD0DC;
$light-gray-2: #E0E1E2;
$blue: #0077C5;

$red: #E25865;
