<section class="login">
  <div class="container">
      <div class="row justify-content-md-center">
          <div class="col-5">
              <h1>Entrar</h1>

              <form (ngSubmit)="login($event)">
                      <px-input pxSize="md" label="E-mail" class="spc-gravity-xxs"></px-input>
                      <px-input pxSize="md" label="Senha" class="spc-gravity-xxs"></px-input>

                  <div class="form-group">
                      <a class="reset-password-link" routerLink="/login">ESQUECEU A SENHA?</a>

                      <px-button pxImpact pxSize="lg" class="spc-gravity-xs">Entrar</px-button>
                  </div>

                  <a routerLink="/register">Não tem conta? Cadastre-se</a>
              </form>
          </div>
        </div>
  </div>
</section>


<!--<section class="login">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-sm-5">
                <h1>Entrar</h1>

                <form (ngSubmit)="login($event)">
                    <div class="form-group">
                        <input type="email" placeholder="E-mail" minlength="10" maxlength="100" required email name="email" [(ngModel)]="usuario.email" #propEmail="ngModel"/>

                        <div *ngIf="propEmail.invalid && (propEmail.dirty || propEmail.touched)" class="alert alert-danger">
                            <div *ngIf="propEmail.errors.required">*O campo E-mail é requerido.</div>
                            <div *ngIf="propEmail.errors.email">Digite um e-mail válido</div>
                            <div *ngIf="propEmail.errors.minlength">E-mail deve ter no mínimo 10 caracteres.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" placeholder="Password" minlength="6" maxlength="100" required name="senha" [(ngModel)]="usuario.senha" #propSenha="ngModel"/>

                        <div *ngIf="propSenha.invalid && (propSenha.dirty || propSenha.touched)" class="alert alert-danger">
                            <div *ngIf="propSenha.errors.required">*O campo Senha é requerido.</div>
                            <div *ngIf="propSenha.errors.minlength">Senha deve ter no mínimo 6 caracteres.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <a class="reset-password-link" routerLink="/login">ESQUECEU A SENHA?</a>
                    </div>

                    <button type="submit" class="btn btn-primary">Entrar</button>

                    <a routerLink="/register">Não tem conta? Cadastre-se</a>
                </form>
            </div>
        </div>
    </div>
</section>-->
