<section class="login">
  <div class="container-size-1">
    <h1>Entrar</h1>

    <form>
      <div class="form-group">
        <input type="email" placeholder="E-mail"
        [(ngModel)]="email" minlength="1" maxlength="100" required email name="email"
        [(ngModel)]="email" #propEmail="ngModel" />

        <div *ngIf="propEmail.invalid && (propEmail.dirty || propEmail.touched)" class="alert alert-danger">
         <div *ngIf="propEmail.errors.required">
           O campo E-mail é requirido.
         </div>
         <div *ngIf="propEmail.errors.email">Email must be a valid email address</div>

         <div *ngIf="propEmail.errors.minlength">
           E-mail deve ter no mínimo 1 caracter.
         </div>
       </div>

      </div>

      <div class="form-group">
        <input type="password" placeholder="Password"
        [(ngModel)]="senha" minlength="6" maxlength="100" required name="senha"
        [(ngModel)]="senha" #propSenha="ngModel" />

        <div *ngIf="propSenha.invalid && (propSenha.dirty || propSenha.touched)" class="alert alert-danger">
         <div *ngIf="propSenha.errors.required">
           O campo Senha é requirido.
         </div>

         <div *ngIf="propSenha.errors.minlength">
           Senha deve ter no mínimo 6 caracteres.
         </div>
       </div>
      </div>

      <div class="form-group">
        <a class="reset-password-link" routerLink="/login">ESQUECEU A SENHA?</a>
      </div>

      <button type="submit" class="btn btn-primary" routerLink="/home">Entrar</button>

      <a routerLink="/register">Não tem conta? Cadastre-se</a>
    </form>
  </div>
</section>
