@import url('https://fonts.googleapis.com/css?family=Mukta|Open+Sans');

@import './assets/scss/_variables';
@import './assets/scss/_mixins';

body {
  font-family: 'Mukta', sans-serif;
}

a {
  color: $blue !important;
  display: block;
  transition: .5s;

  &:hover {
    opacity: .7;
    text-decoration: none;
    transition: .5s;
  }
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: $dark-gray;
  @include fontsize(29);
}

input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid $gray;
  border-radius: 5px;
  color: $light-gray;
  @include fontsize(14);

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: $light-gray;
    @include fontsize(14);
  }
  &::-moz-placeholder {
    color: $light-gray;
    @include fontsize(14);
  }
  &:-ms-input-placeholder {
    color: $light-gray;
    @include fontsize(14);
  }
  &:-moz-placeholder {
    color: $light-gray;
    @include fontsize(14);
  }
}

.alert {
  @include fontsize(12);
  padding: 0;
  border: none;
  margin: 0;
  text-align: left;
}

.alert-danger {
  color: $red;
  background-color: transparent;
  //border-color: #f5c6cb;
}

.container-size-1 {
  width: 400px;
  margin: 0 auto;
}

.container-size-2 {
  width: 760px;
  margin: 0 auto;
}

.container-size-3 {
  width: 80%;
  margin: 0 auto;
}

.btn {
  width: 360px;
  height: 60px;
  background-color: $purple !important;
  border: none;
  border-radius: 30px;
  @include fontsize(18);
  font-weight: bold;
  color: $white;
  transition: .5s;

  &:hover {
    background-color: $light-purple;
    transition: .5s;
  }
}

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
}

@media (max-width: 770px) {
  .container-size-2 {
    width: 95%;
    margin: 0 auto;
  }

  .logo {
    position: absolute;
  }
}

@media (max-width: 500px) {
  .container-size-1, .container-size-3 {
    width: 95%;
    margin: 0 auto;
  }

  .btn {
    width: 100%;
    height: 50px;
    @include fontsize(16);
  }

  h1 {
    @include fontsize(22);
  }
}
