@import url('https://fonts.googleapis.com/css?family=Mukta');

@import './assets/scss/_variables';
@import './assets/scss/_mixins';

body {
  font-family: 'Mukta', sans-serif;
}

a {
  color: $blue !important;
  display: block;
  transition: .5s;

  &:hover {
    opacity: .7;
    text-decoration: none;
    transition: .5s;
  }
}

input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid $gray;
  border-radius: 5px;
  color: $light-gray;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: $light-gray;
  }
  &::-moz-placeholder {
    color: $light-gray;
  }
  &:-ms-input-placeholder {
    color: $light-gray;
  }
  &:-moz-placeholder {
    color: $light-gray;
  }
}

.container-size-1 {
  width: 400px;
  margin: 0 auto;
}

.container-size-2 {
  width: 760px;
  margin: 0 auto;
}

.container-size-3 {
  width: 80%;
  margin: 0 auto;
}

.btn {
  //width: 360px;
  //height: 60px;
  background-color: $purple;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  color: $white;
  transition: .5s;

  &:hover {
    background-color: $light-purple;
    transition: .5s;
  }
}
