<section class="home">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-6">
                <img class="logo-front-test" src="assets/image/front-test.svg" alt=""/>

                <h2>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</h2>

                <button class="btn btn-saiba-mais">Saiba mais</button>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-12">
                <div class="cards">
                    <div class="card">
                        <h4>Mussum Ipsum cacilds</h4>
                        <div class="finger">
                            <img src="assets/image/fingerprint.svg" alt="" />
                        </div>
                        <h5>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</h5>
                        <button class="btn btn-saiba-mais">Saiba mais</button>
                    </div>
                    <div class="card center">
                        <h4>Mussum Ipsum cacilds</h4>
                        <div class="finger">
                            <img src="assets/image/fingerprint.svg" alt="" />
                        </div>
                        <h5>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</h5>
                        <button class="btn btn-saiba-mais">Saiba mais</button>
                    </div>
                    <div class="card">
                        <h4>Mussum Ipsum cacilds</h4>
                        <div class="finger">
                            <img src="assets/image/fingerprint.svg" alt="" />
                        </div>
                        <h5>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</h5>
                        <button class="btn btn-saiba-mais">Saiba mais</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <nav>
                <div class="col-nav">
                    <a>Quem Somos</a>
                    <a>Como Funciona</a>
                    <a>FAQ's</a>
                    <a>Contato</a>
                </div>
                <div class="col-nav">
                    <a routerLink="/login">Login</a>
                    <a routerLink="/register">Cadastro</a>
                    <a>Termos de Uso</a>
                    <a>Privacidade</a>
                </div>
            </nav>
        </div>
    </div>
</footer>

<button class="btn-logout" routerLink="/login">Logout</button>
