<section class="home">
  <div class="container-size-3">
    <img src="assets/image/front-test.svg" alt="" />

    <h2>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</h2>

    <button>Saiba mais</button>

    <ul>
      <li>Quem Somos</li>
      <li>Como Funciona</li>
      <li>FAQ's</li>
      <li>Contato</li>
      <li>Login</li>
      <li>Cadastro</li>
      <li>Termos de Uso</li>
      <li>Privacidade</li>
    </ul>
  </div>
</section>

<button class="btn-logout" routerLink="/login">Logout</button>
